@model ContactS.WEB.Models.SearcModelList

@{
    ViewBag.Title = "Search";
}

<h2 class="mt-4 mb-4 text-center">Search</h2>

<div class="row">
    <div class="col-md-3">
        @using (Html.BeginForm("Search", "Account", FormMethod.Get))
        {
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">@@</span>
                </div>
                <input type="text" name="UserName" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" value=@Model.SearchModel.UserName>
            </div>
            <input type="text" class="form-control mb-3" name="Name" placeholder="Name" value=@Model.SearchModel.Name />
            <input type="text" class="form-control mb-3" name="Adress" placeholder="Adress" value=@Model.SearchModel.Adress />
            <div class="row">
                <input type="submit" value="Поиск" class="btn btn-primary" />
                @Html.ActionLink("Скинути", "Index", null, new { @class = "btn btn-primary ml-1" })
            </div>
        }
    </div>
    <div class="col-md-9">
        <div class="card-columns">

            <div id="scrolList">
                @Html.Partial("_UserList", Model.Users)
            </div>


        </div>
        <div class="d-flex justify-content-center">
            <div id="loading" class="spinner-border text-primary text-center" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
</div>

@section Scripts{



    <script type="text/javascript">
$(function () {

    $('div#loading').hide();

    var page = 1;
    var _inCallback = false;
    function loadItems() {
        if (page > -1 && !_inCallback) {
            _inCallback = true;
            page++;
            $('div#loading').show();

            $.ajax({
                type: 'GET',
                url: '/Account/Search/?UserName=' @Model.SearchModel.UserName +'&Name='+ @Model.SearchModel.Name +'&Adress'+@Model.SearchModel.Adress +'?page='+ page,
                success: function (data, textstatus) {
                    if (data != '') {
                        $("#scrolList").append(data);
                    }
                    else {
                        page = -1;
                    }
                    _inCallback = false;
                    $("div#loading").hide();
                }
            });
        }
    }
    // обработка события скроллинга
    $(window).scroll(function () {
        if ($(window).scrollTop() == $(document).height() - $(window).height()) {

            loadItems();
        }
    });
})
    </script>




}