@model List<ContactS.BLL.DTO.UserDTO>

@{
    /**/

    ViewBag.Title = "Create";
}

<h2 class="mt-4 text-center">Оберіть кому написати</h2>

<ul class="list-group">
    @foreach (var user in Model)
    {
        <li class="list-group-item сontainer">

            <div class="row">
                <div class="col-2">
                    @using (Html.BeginForm())
                    {

                        <input value="@user.Id" name="id" type="hidden" />
                        <input type="submit" name="Send" value="Write" class="btn btn-primary" />
                    }
                </div>
                <div class="col-10">
                    <p class="m-0">@user.Name</p>
                </div>

            </div>
        </li>
    }
</ul>