@model ContactS.BLL.DTO.DialogDTO

<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title text-danger" id="LeaveTitle">Увага</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Ви бажаєте покинути бесіду " @Model.Name "?</p>
    </div>
    <div class="modal-footer">

        @using (Html.BeginForm("Leave", "Dialog", FormMethod.Post))
        {
            <div class="form-inline">
                @Html.HiddenFor(model => model.Id)
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Так" class="btn btn-danger" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>