
@{
    ViewBag.Title = Resources.Resource.AccessDenied;
}

<div class="row min-vh-100">
    <div class="col min-vh-100">
        <h1 class="text-danger text-center" style="vertical-align:middle">@Resources.Resource.AccessDenied</h1>
    </div>
</div>


